@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Spoqa Han Sans';
    unicode-range: U+AC00-D7AF;
}

.navbar li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #9C9967;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 25%;
}

.navbar .logo {
    cursor: pointer;
    width: 220px;
    margin-right: auto;
}

.navbar .navbar-links {
    list-style: none;
}

.navbar .navbar-links li {
    display: inline-block;
    padding: 0px 20px;
}

.navbar .navbar-links li a {
    transition: all 0.3s ease 0s;
}

.navbar .navbar-links li a:hover {
    color:#3A3532;
}

.navbar button {
    padding: 9px 25px;
    background-color: #9C9967;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    margin-left: 20px;
}

.navbar button:hover {
    background-color: #3A3532;
}

.user-info {
    font-weight: 500;
    padding: 7px 18px;
    margin-left: 20px;
    font-size: 16px;
    display: none;
    flex-direction: row;
    align-items: center;
    border: 1px solid #9C9967;
    border-radius: 50px;
}

.user-info img {
    width: 35px;
    margin-right: 10px;
    border-radius: 50px;
}

.user-info span {
    color: #6E686A;
    font-weight: bolder;
}

@media screen and (max-width: 1130px){
    .navbar {
        padding: 30px 17%;
    }
}

@media screen and (max-width: 780px){
    .navbar {
        padding: 30px 12%;
    }
}

@media screen and (max-width: 450px){
    .navbar .logo {
        cursor: pointer;
        width: 190px;
        margin-right: auto;
    }

    .navbar .navbar-links li {
        display: none;
    }

    .navbar button {
        font-size: 12px;
        padding: 8px 15px;
        border-radius: 50px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .navbar button:hover {
        background-color: #3A3532;
    }

    .user-info {
        padding: 5px 10px;
    }

    .user-info img {
        margin-right: 0px;
    }

    .user-info span{
        display: none;
    }
}
