.main {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.main .intro h2 {
    margin-bottom: 5%;
    font-size: 2.5em;
}

.main .intro strong {
    color: darkorange;
}

.main .intro p {
    margin-bottom: 1%;
    font-size: 1.3em;
}

.main .intro button {
    margin-top: 10%;
    padding: 10px 30px;
    background: darkorange;
    color: white;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
}

.main .image img {
    margin-top: 130px;
    width: 400px;
}

button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1024px) {
    .main {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main .intro h2 {
        margin-top: 50px;
        font-size: 2.2em;
    }

    .main .image img  {
        margin-top: 200px;
        margin-left: 300px;
        width: 300px;
    }
}


@media screen and (max-width: 480px) {
    .main {
        width: 70vw;
    }

    .main .intro h2 {
        margin-top: 50px;
        font-size: 1.7em;
    }

    .main .intro p {
        margin-bottom: 1%;
        font-size: 1em;
    }

    .main .intro button {
        margin-top: 20%;
        font-size: 1em;
    }

    .main .image img  {
        display: none;
    }
}

