.body {
    display: flex;
    margin-top: 35px;
    padding: 50px 27%;
}

.explanation h1 {
    color: #6E686A;
}

.explanation p {
    margin-top: 50px;
    width: 80%;
    color: #785658;
}

.explanation button {
    margin-top: 50px;
    padding: 9px 25px;
    background-color: #3A3532;
    color: #3A3532;
    border-radius: 50px;
    cursor: pointer;
}

.explanation button a {
    color: white;
}

.explanation button:hover {
    background-color: #785658;
    color: white;
    border: 2px solid #785658;
}

.tree img {
    width: 425px;
}