.mypage {
    display: flex;
    flex-direction: column;
    padding: 50px 27%;
    align-items: center;
}

.mypage h1 {
    color: #6E686A;
    margin-bottom: 50px;
}

.category {
    color: #3A3532;
    text-decoration: underline;
    font-weight: bold;
    padding-bottom: 3px;
}

.mypage h4 {
    color: #3A3532;
}

.value {
    font-size: 18px;
    color: #3A3532;
}

.button-atag {
    margin-top: 70px;
}

.mypage button {
    width: 140px;
    height: 55px;
    background-color: #d6d2d0;
    color: #3A3532;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}

.mypage button:hover {
    background-color: #785658;
    color: white;
}
